@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
    background-color: #202124;
    max-width: 500px;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

#app-menu {
    padding: 5px;
    background-color: #36373a;
}

.app-button {
    color: #bdc1c6;
    text-align: center;
}

.app-button.active {
    color: #8ab4f8;
}

.selected-app {
    color: #8ab4f8;
}

#timer {
    padding-top: 150px;
    color: #8ab4f8;
    font-size: 50pt;
    text-align: center;
}

.alarm-time {
    font-size: 30pt;
}
.alarm-switch {
    font-size: 20pt;
    padding-top: 20px;
}
.alarm-switch.on, .alarm-time.on {
    color: #8ab4f8;
}

#app-body {
    height: 500px;
}

button {
    margin: auto;
    width: 100%;
}

.alarm {
    color: white;
}

.app-title {
    color: white;
    text-align: center;
    font-size: 14pt;
}

#main-clock-time {
    color: #8ab4f8;
    text-align: center;
    font-size: 50pt;
}

#main-clock-date {
    text-align: center;
    font-size: 15pt;
}