@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import 'vars.css';

body {
    background-color: var(--backgroundColor);
    margin: auto;
    font-family: 'Open Sans', sans-serif;
    color: var(--bodyColor);
}

.row {
    text-align: justify;
    text-justify: distribute-all-lines;
}

.cols {
    vertical-align: top;
    display: inline-block;
}

.two {
    width: 45%;
}

.three {
    width: 30%;
}

.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0;
}